  .header {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #fff;
    min-height: 368px;
    text-align: center;
    background-color: transparent;
    background-image: url('./images/header.png'), linear-gradient(#fbc300, #c98a00);
    background-position: 50%;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
  }

  .header__logo {
    width: 92px;
    height: auto;
  }

  .header__title {
    font-size: 38px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
  }

  .header .searchbox {
    height: 64px;
    width: 740px;
    color: #21243d;
    font-size: .75rem;
  }
  .searchbox-form {
    position: relative;
  }

  .header .searchbox .searchbox-input {
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    padding: 4px 48px 0 64px;
    box-shadow: 0 4px 48px rgba(0, 0, 0, 0.2);
    font-family: 'Hind', sans-serif;

  }

  .searchbox-input {
    appearance: none;
    -webkit-appearance: none;
    color: rgba(33, 36, 61, .8);
    min-height: 54px;
    width: 100%;
    background-color: rgba(65, 66, 71, .06);
    border: none;
    border-radius: 3px;
    outline: none;
    padding-left: 56px;
    font-family: inherit;
    font-size: .9rem;
  }

  .searchbox-input::-webkit-search-cancel-button {
    display: none;
  }

  .header .searchbox-submit {
    width: 64px;
    height: 64px;
  }

  .searchbox-submit {
    position: absolute;
    left: 0;
    border: none;
    background: none;
    color: #e2a400;
    
    
  }

  .searchbox-reset {
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: 64px;
    border: none;
    background: none;
    cursor: pointer;
  }

  .searchbox-loadingIndicator {
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .searchbox-reset[hidden], .searchbox-loadingIndicator[hidden] {
    display: none;
  }
