  .header {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #fff;
    min-height: 368px;
    text-align: center;
    background-color: transparent;
    background-image: url('./images/header.png'), linear-gradient(#fbc300, #c98a00);
    background-position: 50%;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
  }

  h2 {
    color: #21243d;
    font-family: 'Hind', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .header__logo {
    width: 92px;
    height: auto;
    margin-bottom: 55px;
  }

  .header__title {
    font-size: 38px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
  }

  .header .searchbox {
    height: 64px;
    width: 740px;
    color: #21243d;
    font-size: .75rem;
  }
  .searchbox-form {
    position: relative;
  }

  .header .searchbox .searchbox-input {
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    padding: 4px 48px 0 64px;
    box-shadow: 0 4px 48px rgba(0, 0, 0, 0.2);
    font-family: 'Hind', sans-serif;

  }

  .searchbox-input {
    appearance: none;
    -webkit-appearance: none;
    color: rgba(33, 36, 61, .8);
    min-height: 54px;
    width: 100%;
    background-color: rgba(65, 66, 71, .06);
    border: none;
    border-radius: 3px;
    outline: none;
    padding-left: 56px;
    font-family: inherit;
    font-size: .9rem;
  }

  .searchbox-input::-webkit-search-cancel-button {
    display: none;
  }

  .header .searchbox-submit {
    width: 64px;
    height: 64px;
  }

  .searchbox-submit {
    position: absolute;
    left: 0;
    border: none;
    background: none;
    color: #e2a400;
    
    
  }

  .searchbox-reset {
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: 64px;
    border: none;
    background: none;
    cursor: pointer;
  }

  .searchbox-loadingIndicator {
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .searchbox-reset[hidden], .searchbox-loadingIndicator[hidden] {
    display: none;
  }

.filter__header {
  min-height: 80px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}

.filter__clear {
  color: rgba(33, 36, 61, .7);
  font-size: .75rem;
  font-family: 'Open Sans', sans-serif;
}
.clear-filters {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.filter__clear button {
  background-color: transparent;
  border: none;
}

.clear-filters svg {
  margin: 8px;
}


.filter__title {
  color: #21243d;
  letter-spacing: .08rem;
  text-transform: uppercase;
  border: none;
  padding-bottom: 1rem;
  font-size: .678rem;
  font-weight: 600;
  line-height: 1.6;
}

.filter__body .filter__panel {
  border-top: 1px solid #ebecf3;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.product__view {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #ebecf3;
}

.product__option {
  position: relative;
  margin-right: 30px;
}
.product__view option {
  min-width: 100px;
}
.product__view select {
  color: #21243d;
  background: 0 0;
  border: none;
  font-family: inherit;
  font-size: .75rem;
}

.product-list {
  display: grid;
  display: -webkit-grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.hit {
  color: #21243d;
  font-size: 14px;
  line-height: 18px;
}

.hit-image-container {
  display: flex;
  display: -webkit-flex;
  height: 174px;
  width: 174px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.hit-image {
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.hit-info-container {
  overflow-wrap: break-word;
  word-break: break-word;
}

.hit-category {
  color: #21243d;
  opacity: .7;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
}

.hit h1 {
  font-size: 14px;
}

.hit-description {
  margin-top: 2px;
}

.hit-em {
  color: #e2a400;
  font-size: 11px;
  font-weight: 600;
}

.hit-rating {
  border: 1px solid rgba(226, 164, 0, 0.5);
  border-radius: 4px;
  margin-left: 4px;
  padding: 0 4px;
}

.pagination {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.prev-button, .next-button {
  color: #21243d;
  background-color: transparent;
  border: none;
  font-size: 11px;
  margin: 0 4px;
}

.page-number-button {
  border: none;
  margin: 0 4px;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  color: #21243d;
  font-size: 14px;
}

.active {
  font-weight: 700;
  color: #fff;
  background-color: #e2a400;
  background-image : linear-gradient(rgba(255, 255, 255, .34), rgba(255, 255, 255, 0))
}

.count {
  color: rgba(33, 36, 61, .8);
  letter-spacing: 1.1px;
  background-color: rgba(65, 66, 71, .08);
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-left: 8px;
  padding: 0 4px;
  font-size: .64rem;
  font-weight: 600;
  cursor: pointer;
}

.brand-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #21243d;
  padding-bottom: 1rem;
  cursor: pointer;
}

.brand-checkbox {
  appearance: none;
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: rgba(65, 66, 71,.08);
  border: none;
  margin: 0 1rem 0 0;
  position: relative;
  border-radius: 2px;
}

.brand-checkbox:checked:after {
  content: "";
  height: 4px;
  width: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-2px, -2px);
}

.brand-checkbox:checked + .brand-name{
  font-weight: 700;
}

.brand-checkbox:checked {
  background-color: #e2a400;
}

.search-brand {
  border: none;
  background-color: rgba(65,66,71,.06);
  width: 100%;
  min-height: 40px;
  border-radius: 3px;
  font-size: .8rem;
  font-family: 'Hind', sans-serif;
  outline: none;
  padding-left: 24px;
  margin-bottom: 1.5rem;
}

.search-brand::placeholder, .search-brand::input {
  color: rgba(33,36,61,.8);

}

.highlight-text {
  background-color: #e2a400;

}


